.colour{
    background-color:#e6faff;
}
.hovereffect:hover {
    background-color:#c7eef8;
}
.hovereffect{
    transition: background-color 0.3s ease;

}

.productcardimg {
 
   
    max-width: 150px;
    max-height: 130px;

}

.cardcolour{
    background-color: #e6faff;
    display: 'flex';
    flex-wrap: wrap;
}

.shopping-cart {
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
  }
  
  .shopping-cart:hover {
    transform: scale(1.1); /* Increase the size on hover */
  }
  .custom-width-input-button{

    width:30px;
    height:30px;
}